*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}
:root{
    --main-font: 'Montserrat', sans-serif;
    --main-color: rgb(148, 225, 211);
    --pink-color: rgb(243, 129, 129);
    --h-font: 'Kaushan Script', cursive;
}
html {
    box-sizing: border-box;
    font-size: 0;
}
img{
    display: block;
    max-width:100%;
    height: auto;
}
.container{
    width: 1202px;
    margin: 0 auto;
}
.main-header{
    font-family: var(--main-font);
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}
.main-menu{
    display: flex;
    justify-content: space-between;
    width: 494px;
}
.main-logo a{
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    color: var(--main-color);
    font-weight: 700;
    text-transform: capitalize;
    display: inline-block;
}
.main-menu a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--main-color)
}
.main-menu a:after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--pink-color);
    display: block;
    margin: 0 auto; 
    visibility: hidden;
    margin-top: 6px;
}
.main-menu a:hover ,
.main-menu a:active {
    color: var(--pink-color);
}
.main-menu a:hover:after {
    visibility: visible;
}

section{
    padding-top: 100px;
    color: #515151;

}
h2{
    font-size: 30px;
    font-family: var(--main-font);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.7;

}
.services-title {
    font-family: var(--h-font);
    font-size: 24px;
    text-align: center;
    display: block;
    text-transform: lowercase;
    font-weight: 400;
}
span::first-letter{
    text-transform: uppercase;
}
h2::after{
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background-color: var(--pink-color);
    margin: 0 auto;
    vertical-align: bottom;
    margin-top: 38px;
}
.service-item {
    width: 352px;
    position: relative;
}
.service-box{
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    min-height: 150px;
}
.service-item::before {
    display: inline-block;
    content: "";
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 6px;
}
.service-item:first-child::before {
    background-image: url("./img/ALARM.png");
}
.service-item:nth-child(2)::before {
    background-image: url("./img/LINE-GRAPH.png");
}
.service-item:nth-child(3)::before{
    background-image: url("./img/ko.png");
}   
.service-item:nth-child(4)::before {
    background-image: url("./img/BOOK.png");
}
.service-item:nth-child(5)::before{
    background-image: url("./img/HOME.png");
}
.service-item:last-child::before {
    background-image: url("./img/IMAGE.png");
}
.services-item:nth-child(n+3){
    padding-top: 90px;
}
.service-item-text {
    width: 300px;
    position: absolute;
    right: 0;
    padding-left: 6px;
}
.service-item p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    padding-top: 12px;

}
.service-item h3 {
    font-size: 14px;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 400;
}
.teams-title{
    font-family: var(--h-font);
    font-size: 24px;
    text-align: center;
    display: block;
    text-transform: lowercase;
    font-weight: 400;
}
.teams-title::first-letter{
    text-transform: uppercase;
}
.team-descr {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    padding-top: 38px;
    margin: 0 auto;
    width: 946px;
    text-align: center;
    line-height: 24px;
}
.team-member-list{
    font-size: 0px;
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
}
.team-member-descrp{
    width: 380px;
    text-transform: capitalize;
    list-style: none;
    text-decoration: none;
    
}
.img-tint{
    position: relative;
    
}
.team-img{
    transition-duration: .2s;
    transition-delay: .2s;
    transition-timing-function: linear;

}
.overlay-backdrop{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(251, 227, 137, 0.9), rgba(243, 129, 129, 0.9));
    transition-duration: .2s;
    transition-delay: .2s;
    transition-timing-function: linear;
}
.overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 224px;
}
.overlay a{
    display: inline-block;
    width: 56px;
    height: 56px;
    background-color: rgb(252, 227, 138);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    
}
.overlay a:not(:last-child){
    border-right: 1px solid var(--pink-color);
}
.facebook {
    background-image: url("./img/facebook.png");
}
.twitter {
    background-image: url("./img/twitter.png");
}
.pinterest{
    background-image: url("./img/pinterest.png");
}
.instagram{
    background-image: url("./img/instagram.png");
}

.team-member-descrp:hover .overlay-backdrop {
    opacity: 1;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 rgb(149, 225, 211);
    
}
.team-member-descrp:hover .team-img {
    transform: translate(-10px, -10px);
    
}
.overlay a:hover{
    background-color: rgb(149, 225, 211);
}
.team-member-descrp p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    padding-top: 12px;
    text-align: center;
    font-weight: 300;
    font-style: italic;
}
.team-member-descrp h3 {
    font-size: 14px;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding-top: 26px;
}
.main-footer{
    margin-top: 80px;
}
.main-footer .container::before{
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgb(153, 153, 153);
    display: block;
    margin: 0 auto;
}
.main-footer div{
    margin-top: 10px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main-footer p{
    font-size: 14px;
    font-family: var(--main-font);
    color: #515151;
}
.main-footer a{
    font-size: 14px;
    font-family: var(--main-font);
    color: var(--pink-color);
    text-decoration: none;
}
form{
    height: 40px;
    display: flex;
}
.main-footer input[type=email] {
    border: 1px solid rgb(153, 153, 153);
    width: 230px;
    box-sizing: border-box;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    text-transform: capitalize;
    border-right: none;
}
.main-footer button[type=submit] {
    width: 150px;
    background-color: rgb(149, 225, 211);
    color: white;
    font-size: 14px;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}